---
import Img from '../components/img.astro'
import { FeaturedSVG } from '../config'
---

<div class="relative bg-white dark:bg-gray-900 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div
      class="z-10 relative pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32 bg-white dark:bg-gray-900"
    >
      <svg
        class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white dark:text-gray-900 transform translate-x-1/2"
        fill="currentColor"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        aria-hidden="true"
      >
        <polygon points="50,0 100,0 50,100 0,100"></polygon>
      </svg>
      <main
        class="pt-10 mx-auto max-w-7xl px-4 sm:pt-12 sm:px-6 md:pt-16 lg:pt-20 lg:px-8 xl:pt-28"
      >
        <div class="text-center sm:text-left">
          <h2
        class="text-base text-gray-800 dark:text-gray-300 font-semibold tracking-wide uppercase"
      >
      Best Friend Portrait
      </h2>
          <h1
            class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl text-left"
          >
            <span class="block xl:inline">ベストフレンド 油絵</span>{' '}
           
          </h1>
          <p
            class="mt-3 text-base text-gray-600 dark:text-gray-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            当社は、お客様の大切なペットを手描きの油絵にして、お届けするサービスを提供しています。
            <br /><br />
            当サービスでは、経験豊富なアーティストがあなたのペットの写真をもとに、手描きで美しい油絵を制作いたします。あなたが気に入った写真を送るだけで、あなたのペットの魅力を引き出した一枚の絵画が完成します。
            <br /><br />
            当サービスでは、あなたが思い描く最高の油絵を作成するため、細部までこだわった手描きの作品をお届けいたします。ぜひ、愛犬や愛猫の素晴らしさを伝える、一枚の絵画を手に入れてみてください。
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a
                href="/about"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-pink-600 dark:text-black dark:bg-gray-300 dark:hover:bg-pink-300 md:py-4 md:text-lg md:px-10"
              >
                About
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a
                href="https://github.com/sponsors/hellotham"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-gray-800 bg-gray-100 hover:bg-pink-200 dark:text-gray-100 dark:bg-gray-900 dark:hover:bg-pink-900 md:py-4 md:text-lg md:px-10"
                rel="noopener noreferrer"
                target="_blank"
              >
                Sponsor Us
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div
    class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 bg-gray-100 dark:bg-gray-500"
  >
    <Img
      class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
      src={FeaturedSVG}
      alt="featured"
    />
  </div>
</div>
