---
import Gallery from './gallery.astro';
---

<div class="bg-gray-100 dark:bg-gray-900">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
      <h1 class="text-4xl font-extrabold text-gray-800 dark:text-gray-100">
        作品ギャラリー
      </h1>
        <Gallery folder="products" />
    </div>
  </div>
</div>
